# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# MkDocs
site/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Secrets
secrets/
*.pem
*.key
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.kiro/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docs
*.pdf
.assets
